@import "tailwindcss";

@theme {
  --color-coffee: #4b2e1f;
  --color-coffee-dark: #1a0f0a;
  --color-coffee-light: #6f4e37;
}

/* Coffee scrollbar */
.coffee-scroll::-webkit-scrollbar {
  width: 6px;
}

.coffee-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.coffee-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(111, 78, 55, 0.6); /* coffee-light */
  border-radius: 9999px;
}

.coffee-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 46, 31, 0.9); /* coffee */
}

/* Firefox */
.coffee-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6f4e37 transparent;
}


.coffee-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.coffee-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(111, 78, 55, 0.7);
}
